*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center{
    text-align: center;
}

h1{
    color: red;
}


.navigation a{
    margin-right: 10px;
}

h2{
    color: rgb(202, 29, 202);
}