*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center{
    text-align: center;
}

h1{
    color: red;
}


.navigation a{
    margin-right: 10px;
}

h2{
    color: rgb(202, 29, 202);
}

p{
    font-size: 1.2rem;
}

h4{
    color: goldenrod;
}


h4 + div{
    display: flex;
    justify-content: center;
}